@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 100vh;
    height: 100vh;
    border-radius: 20px;
    padding: 76px;
    margin: -60px;
    object-fit: cover;
}

.buttons {
    color: white;
    font-family: "Roboto";
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
}

.button {
    border-radius: 4px;
    font-size: medium;
    padding: 10px;
    margin: 15px;

}

.spring-button {
    background-color: #3a7333;

}

.summer-button {
    background-color: #e0bb00;
    display: grid;
    text-align: center;
}

.autumn-button {
    background-color: #b04400;
}

.winter-button {
    background-color: #0f7cb6;
}